%h1 Feeds

%table
  %tr
    %th Title
    %th Link
    %th Homepage
    %th Last checked
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= feed.title
      %td= link_to feed.link, feed.link
      %td= link_to feed.homepage, feed.homepage
      %td= time_ago_in_words(feed.last_checked_at) + ' ago'
      %td= error_note(feed)
      %td= link_to 'Edit', edit_feed_path(feed)
      %td= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Feed', new_feed_path, :class => 'btn success'
