%p#notice= notice

%p
  %b Link:
  = @feed.link
%p
  %b Title:
  = @feed.title
%p
  %b Author:
  = @feed.author
%p
  %b Last checked at:
  = @feed.last_checked_at

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
