%h1 Listing tweets

%table
  %tr
    %th Username
    %th Search term
    %th Last checked at
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.username
      %td= tweet.search_term
      %td= tweet.last_checked_at
      %td= link_to 'Show', tweet
      %td= link_to 'Edit', edit_tweet_path(tweet)
      %td= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Search', new_tweet_path, :class => 'btn success'
