!!! 5
%html
  %head
    %title Aggrate
    = stylesheet_link_tag    'application', 'admin'
    = javascript_include_tag 'application', 'admin'
    = csrf_meta_tags
  %body
    = render 'layouts/admin_nav' if logged_in?

    .container
      - if flash[:notice]
        .alert-message.success
          = link_to '×', '#', :class => 'close'
          %p= flash[:notice]
        :javascript
          $(".alert-message").alert();

      = yield
